<div class="container">
    <ul class="footer-nav">
        <% Footer.forEach(itemFoo => { %>
        <li><a href="/<%= itemFoo.Data.Link %>" tabindex="0">
                <%= itemFoo.Data.Title %></a></li>
        <%})%>
    </ul>

    <div class="phoneto-mobile">התקשרו עכשיו<br />
        <a href="tel:*5058" class="light_style" style="color:#ffffff;"><i class="fa fa-phone-square" style="margin:0 5px;"></i>5058
            *</a>
        <br>
    </div>
    <ul class="social">
        <li class="mobile">עיקבו אחרינו ברשת</li>
        <li><a href="https://www.facebook.com/pandoors/" target="_blank" class="light_style"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="https://www.instagram.com/pandoor_doors/" target="_blank" class="light_style"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/user/pandoor100" target="_blank" class="light_style"><i class="fab fa-youtube"></i></a></li>

    </ul>
    <a class="footerBtn" href="/branches">לרשימת הסניפים</a>
    <ul class="site-map">
        <% if(Branches){ Branches.forEach((itemBr, i) => { %>
        <li tabindex="0">
            <a href="/branches/<%= i %>">
                <h3>
                    <%= itemBr.Data.BranchName %>
                </h3>
            </a>
            <span>
                <%= itemBr.Data.Address %></span><br>
            <span>
                <%= itemBr.Data.City %></span><br>
            <span>
                <%= itemBr.Data.PhoneNumber %></span>
        </li>
        <%})}%>
    </ul>
</div>
<div class="footer-bottom-strip">
    <div class="container">
        <span class="pandoor_rights" tabindex="0">כל הזכויות שמורות לדלתות פנדור ©</span>
        <img class="pandoor_left" src="<%= process.env.LINKTOBUCKETS +  'default/default_footer_madeinisrael.png' %>" alt="מיוצר בישראל"/>
        <img class="pandoor_left" src="<%= process.env.LINKTOBUCKETS +  'default/default_footer_emonatzibur.png' %>" alt="אמון הציבור"/>
    </div>
</div>

<!-- <a href="javascript:" id="return-to-top" tabindex="-1"><i></i></a> -->

<% if(PixelsAndNav && PixelsAndNav.Pixels && PixelsAndNav.Pixels.length){%>
<% PixelsAndNav.Pixels.forEach(item => { %>
<script>
<%= '//' + item.Description %>
<% - item.Code %>
</script>
<%})}%>