<!DOCTYPE html>
<html lang="he">
<head>
    <% let title = Page.MetaData && Page.MetaData.find(item => item.MetaType == 'title')?Page.MetaData.find(item => item.MetaType == 'title').MetaDescription : Page.Header? Page.Header.Title:Page.Data.Header.Title %>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <% if(Page && Page.MetaData){ Page.MetaData.forEach(item => {  if(item.MetaType != 'title'){%> 
        <% if(item.MetaType.split(":").length>1) {%>
             <meta property="<%= item.MetaType %>" content="<%= item.MetaDescription %>" >
        <%}else{%>
            <meta name="<%= item.MetaType %>" content="<%= item.MetaDescription %>" >
        <%}%>
    <%}})}%>
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= Url %>" />
    <meta property="og:image" content="<%= process.env.LINKTOBUCKETS +  'default/default_header_microdata_image.jpg' %>" />
    <link rel="canonical" href="<%= Url %>" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <% if(Language){%>
        <link rel="stylesheet" type="text/css" href="/stylesheets/stylelanguages.css" />
    <%}%>
    <% include ./analyticsheader %>
</head>

<body tabindex="-1">
    <header tabindex="-1">
        <% include ../layoutindex/navbar %>
    </header>
    <article tabindex="-1">
        <div id="side_sticker">
            <div class="side_sticker_slide">
                <div class="iconBg">
                    <a class="open_access_popup" id="accessibility_btn" tabindex="0">
                        <i class="fas fa-wheelchair"><span class="invisible_text">נגישות</span></i>
                    </a>   

                </div>
                <div class="iconBg sticker_description accessibility">
                    <h3><%= global.GlobalVar.AccessibilityTitle && global.GlobalVar.AccessibilityTitle[Language] ? global.GlobalVar.AccessibilityTitle[Language] : 'תפריט נגישות' %></h3>
                    <div class="accessibility_wrap">
                        <div class="accessibility_menu">
                            <a tabindex="0" class="part_for_change font_change" name="plus"><b>א</b><br><span><%= global.GlobalVar.AccessibilityPlus && global.GlobalVar.AccessibilityPlus[Language] ? global.GlobalVar.AccessibilityPlus[Language] : 'הגדל גופן' %></span></a>
                            <a tabindex="0" class="part_for_change font_change" name="minus"><b>א</b><br><span><%= global.GlobalVar.AccessibilityMinus && global.GlobalVar.AccessibilityMinus[Language] ? global.GlobalVar.AccessibilityMinus[Language] : 'הקטן גופן' %></span></a>
                            <a tabindex="0" class="part_for_change active" id="accessibility_reset"><b>X</b><br><span><%= global.GlobalVar.AccessibilityReset && global.GlobalVar.AccessibilityReset[Language] ? global.GlobalVar.AccessibilityReset[Language] : 'איפוס נגישות' %></span></a>
                            <a tabindex="0" class="part_for_change row_size contrast_change" name="dark"><i class="fas fa-circle"></i><%= global.GlobalVar.AccessibilityDarkContrast && global.GlobalVar.AccessibilityDarkContrast[Language] ? global.GlobalVar.AccessibilityDarkContrast[Language] : 'ניגודיות כהה' %></a>
                            <a tabindex="0" class="part_for_change row_size contrast_change" name="bright"><i class="far fa-circle"></i><%= global.GlobalVar.AccessibilityBrightContrast && global.GlobalVar.AccessibilityBrightContrast[Language] ? global.GlobalVar.AccessibilityBrightContrast[Language] : 'ניגודיות בהירה' %></a>
                            <a tabindex="0" class="part_for_change row_size contrast_change" name="gray"><i class="fas fa-adjust"></i><%= global.GlobalVar.AccessibilityBlackAndWhite && global.GlobalVar.AccessibilityBlackAndWhite[Language] ? global.GlobalVar.AccessibilityBlackAndWhite[Language] : 'שחור לבן' %></a>
                            <a tabindex="0" class="part_for_change row_size" id="accessibility_links"><i class="fas fa-link"></i><%= global.GlobalVar.AccessibilityLinks && global.GlobalVar.AccessibilityLinks[Language] ? global.GlobalVar.AccessibilityLinks[Language] : 'הדגשת קישורים' %></a>
                            <a tabindex="0" class="part_for_change row_size" id="accessibility_header"><i class="fas fa-heading"></i><%= global.GlobalVar.AccessibilityLightTitles && global.GlobalVar.AccessibilityLightTitles[Language] ? global.GlobalVar.AccessibilityLightTitles[Language] : 'הדגשת כותרות' %></a>
                            <a tabindex="0" class="part_for_change row_size" id="accessibility_statement" href="<%= Language%>/accessibilitystatement"><i class="fas fa-exclamation"></i><%= global.GlobalVar.AccessibilityStatement && global.GlobalVar.AccessibilityStatement[Language] ? global.GlobalVar.AccessibilityStatement[Language] : 'הצהרת נגישות' %></a>
                            <a tabindex="0" class="part_for_change row_size" id="close_accessibility_menu" style="text-align: center;"><i style="float: none;" class="fas fa-times"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="side_sticker_slide">
                <div class="iconBg">
                    <a href="<%= Language %>/architectscontact" tabindex="0"><i class="fas fa-ruler-combined fa-rotate-180"></i></a>
                </div>
                <div class="iconBg sticker_description">
                    <span><b><%= global.GlobalVar.ArchitectsDesigner && global.GlobalVar.ArchitectsDesigner[Language] ? global.GlobalVar.ArchitectsDesigner[Language] : 'אדריכל / מעצב?' %></b></span>
                </div>
            </div>
            <div class="side_sticker_slide">
                <div class="iconBg">
                    <a href="https://www.facebook.com/pandoors/" target="_blank" tabindex="0">
                        <i class="far fa-thumbs-up"><span class="invisible_text">קישור לפיסבוק</span></i>
                    </a>
                </div>
                <div class="iconBg sticker_description">
                    <i class="fab fa-facebook-square" style="font-size:4vh;color:#ffffff;"></i>
                </div>
            </div>

            <div class="side_sticker_slide">
                <div class="iconBg" id="priceofferbtn">
                    <a href="#" tabindex="0">
                        <i class="fa fa-phone-square"><span class="invisible_text">פתיחת טופס</span></i>
                    </a>

                </div>
                <div class="iconBg sticker_description">
                    <span><b><%= global.GlobalVar.SetToAppointment && global.GlobalVar.SetToAppointment[Language] ? global.GlobalVar.SetToAppointment[Language] : 'מעוניינים לקבל הצעת מחיר?'%></b></span>
                </div>
            </div>
            <div id="closed_sticker_flag" class="<%= !Desktop?'visib':'' %>">
                <div class="small_icons_slider"><i class="fas fa-ruler-combined fa-rotate-180"></i></div><br>
                <div class="small_icons_slider"><i class="far fa-thumbs-up"></i></div><br>
                <div class="small_icons_slider"><i class="fas fa-phone-square"></i></div><br>
                <div class="small_icons_slider"><i class="fas fa-wheelchair"></i></div>
            </div>
        </div>

        <div id="priceoffer_popup" >
            <span class="close_popup_priceoffer" onclick="$('#priceoffer_popup').hide(30)" tabindex="0">&times; <span class="invisible_text">סגור</span></span>
            <div class="popup_priceoffer_modal_content">
                <form class="clientcomment_form" action="/priceoffer" method="post">
                    <div id="ContactFormContainer" style="">
                        <h4><%= global.GlobalVar.SetToAppointment && global.GlobalVar.SetToAppointment[Language] ? global.GlobalVar.SetToAppointment[Language] :  'מעוניינים לקבל הצעת מחיר?' %> : </h4>
                        <lable style="color:#ffffff;margin: 1vh 1%;">*<%= global.GlobalVar.RequiredFields && global.GlobalVar.RequiredFields[Language] ? global.GlobalVar.RequiredFields[Language] : 'שדות חובה'%></lable>
                        <lable class="invisible_text">שם מלא</lable><input class="tabTb form_input" name="Name" type="text" placeholder="<%= global.GlobalVar.Name && global.GlobalVar.Name[Language] ?global.GlobalVar.Name[Language] : 'שם מלא'%>"><i style="color:#ffffff;margin-right: 1%;vertical-align: top;">*</i>
                        <lable class="invisible_text">טלפון</lable><input class="tabTb form_input" name="PhoneNumber" type="text" placeholder="<%= global.GlobalVar.Phone && global.GlobalVar.Phone[Language]? global.GlobalVar.Phone[Language] : 'טלפון'%>"><i style="color:#ffffff;margin-right: 1%;vertical-align: top;">*</i>
                        <lable class="invisible_text">עיר</lable><input class="tabTb form_input" name="City" type="text" placeholder="<%= global.GlobalVar.City && global.GlobalVar.City[Language] ?global.GlobalVar.City[Language] : 'עיר'%>"><i style="color:#ffffff;margin-right: 1%;vertical-align: top;">*</i>
                        <lable class="invisible_text">אי-מייל</lable><input class="tabTb form_input" name="Email" type="text" placeholder="<%= global.GlobalVar.Email && global.GlobalVar.Email[Language]?global.GlobalVar.Email[Language] : 'אימייל'%>">
                        <input class="tabButton" type="submit" value="<%= global.GlobalVar.Send && global.GlobalVar.Send[Language] ? global.GlobalVar.Send[Language] : 'שליחה'%>"" data-modal="true">
                    </div>
                </form>
            </div>
        </div>
</article>
    <div id="lining_nav" tabindex="-1"></div>
    <%- body  %>

    <footer>
        <% include ../layoutindex/footer %>
    </footer>
    <div id="simple_image_preview_modal" class="preview_modal">
        <span class="">&times;</span>
        <span class="close" onclick="$('#simple_image_preview_modal').hide(30)">&times; <span class="invisible_text">סגור</span></span>
        <img class="modal-content" id="preview_image_modal_tag" src="<%= process.env.LINKTOBUCKETS +  'default/default_header_microdata_image.jpg' %>" alt=" ">
    </div>
    <section>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="/javascript/general.js"></script>
        <% include ./analyticsfooter %>
    </section>
</body>

</html>