<h2>מבצעים חמים בפנדור</h2>

<div class="content_sales">
    <% if(Sales && Sales.length) { %>
    <% let sale1 = Sales.find(item => item.Position == 1) %>
    <% let sale2 = Sales.find(item => item.Position == 2) %>
    <% let sale3 = Sales.find(item => item.Position == 3) %>
    <div class="left_one">
        <div class="box_one">
            <a href="/sales/<%= sale3.Position %>">
                <img alt="<%= sale3.Data.Preview.ImageId %>" src="<%= sale3.Data.Preview.LinkToBucket %>" />
                <div class="info">
                    <div class="middle"><span><%= sale3.Data.Preview.SubTitleHtml %></span></div>
                    <div class="sale-btn"></div>
                </div>
            </a>
        </div>
        <div class="box_one">
            <a href="/sales/<%= sale2.Position %>">
                <img alt="<%= sale2.Data.Preview.ImageId %>" src="<%= sale2.Data.Preview.LinkToBucket %>" />
                <div class="info">
                    <div class="middle"><span><%= sale2.Data.Preview.SubTitleHtml %></span></div>
                    <div class="sale-btn"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="right_one">
        <a href="/sales/<%= sale1.Position %>">
            <img alt="<%= sale1.Data.Preview.ImageId %>" src="<%= sale1.Data.Preview.LinkToBucket %>" />
            <div class="info">
                <div class="middle"><span>
                        <%= sale1.Data.Preview.SubTitleHtml %></span></div>
                <div class="sale-btn"></div>
            </div>
        </a>
    </div>

    <%}%>
</div>