<% layout('layoutindex/mainpage') -%>

<div class="contentMainImgContainer">
    <img class="contentMainImg" tabindex="0" alt="תמונת רכע" src="<%= process.env.LINKTOBUCKETS + Page.Header.LinkToBucket + Page.Header.ImageId %>" />
    <h1 tabindex="0"><%= Architect.Name %></h1>
    <div class="contentTxt" style="margin-top: 1vh;text-align: right;width:40%;">
        <div style="float: right;">
            <img class="arcitect_image_page" tabindex="0" alt="תמונת אדריכל" src="<%= process.env.LINKTOBUCKETS + Architect.ProfileImage %>" />
        </div>
        <div style="float: left;">
        <h5 tabindex="0">פרטים :</h5>
            <span tabindex="0"><%= Architect.PhoneNumber %></span><br>
           <!-- <% if(Architect.PhoneNumber2){ %>
              <span><%= Architect.PhoneNumber2 %></span><br>
            <%}%> -->
            <span tabindex="0"><%= Architect.Email %></span>
        </div>
    </div>
    <span class="downBtn" data-scrollto="wrap_container"><i class="far fa-caret-square-down"></i></span>
</div>

<section id="wrap_container" class="wrap_container">
    <div class="container">
        <div class="section_text" tabindex="0"><%- Architect.ProfileText %></div>
        <br>
        <div class='project_gallery_row'>
            <% let countCom = 1; if(Projects && Projects.length ) {  Projects.forEach((item, i) => { %>
            <% if(i == 0 || i == 3 || i == 6){ %>
            <div class="project_gallery_column">
                <%}%>
                <div>
                <a href="/project/<%= item.Id %>" tabindex="0">
                <img alt="<%= item.Data.Content.ContentImages[0].ImageId %>" src="<%=  process.env.LINKTOBUCKETS + item.Data.Content.ContentImages[0].LinkToBucket + item.Data.Content.ContentImages[0].ImageId %>"
                    data-index="<%= i %>"  style="width:100%" data-title="<%= item.Data.Header.Title %>">
                    <div class="sub_project_title" tabindex="0"><%= item.Data.Header.Title %></div>
                </a>
                </div>
                <% if(i == 2 || i == 5 || i == 8){ %>
                    </div>
                <%}else if(i == Projects.length-1){ %>
                </div>
                <%}%>
            <%})}%>
    </div>
        <div class="num_pages_wrap">
            <div class="num_prev_page_btn" tabindex="0" onclick="PrevSimplePage('comment_client_row', 'table-row')" style="display:none;">&lt;</div>
            <div class="num_page_btn active" tabindex="0" onclick="SimpleChangePage(this, 1, 'comment_client_row', 'table-row')">1</div>
            <% countCom= 2; for(let i= 0; i< Projects.length-4;i +=4 ){ %>
            <div class="num_page_btn" tabindex="0" onclick="SimpleChangePage(this, <%= countCom %>, 'comment_client_row', 'table-row')">
                <%= countCom %>
            </div>
            <% countCom++; }%>
            <div class="num_next_page_btn" tabindex="0" onclick="NextSimplePage('comment_client_row', 'table-row')">&gt;</div>
        </div>
    </div>
</section>