<% layout('layoutindex/mainpage') -%>

<%if(Desktop){%>
<div class="contentMainImgContainer">
    <img class="contentMainImg" alt="" src="<%= process.env.LINKTOBUCKETS + Page.Header.LinkToBucket + Page.Header.ImageId %>" style="filter: brightness(50%);" />
    <h1 tabindex="0"><%- Page.Header.Title %></h1>
    <div class="contentTxt" tabindex="0"><%- Page.Header.SubTitleHtml %></div>
    <span class="downBtn" data-scrollto="wrap_container" tabindex="0"><i class="far fa-caret-square-down"></i></span>
</div>
<%}else{%>
<div class="contentMainImgContainer" style="background: #000000 url(<%= process.env.LINKTOBUCKETS + Page.Header.LinkToBucket + Page.Header.ImageId %>) top right;">
    <h1 tabindex="0"><%- Page.Header.Title %></h1>
    <div class="contentTxt" tabindex="0"><%- Page.Header.SubTitleHtml %></div>
</div>
<%}%>

<section id="wrap_container" class="wrap_container">
<div class="container">
<div class="contentTextContainer" tabindex="0"><%- Page.Content.ContentHtml %></div>
        <div class="contentImages">
        <% if(Page.Content.ContentImages && Page.Content.ContentImages.length ) {  Page.Content.ContentImages.forEach(item => { %>
        <img alt="" tabindex="-1" src="<%= process.env.LINKTOBUCKETS + item.LinkToBucket + item.ImageId %>" />
        <%})}%>
        </div>
</div>
</section>

<% if(Page.Accordion && Page.Accordion.length) {%>
<section class="wrap_container">
    <div class="" style="width:100%;">
        <div class="container">
            <h2 tabindex="0">שאלות נפוצות</h2>
            <% Page.Accordion.forEach(item => {%>
            <button class="accordion_row"><%- item.AccordionTitle %></button>
            <div class="accordion_inside_panel"><p tabindex="0"><%- item.AccordionDescription %></p></div>
            <%})%>
        </div>
    </div>
    </div>
</section>
<%}%>

<section class="wrap_container">
    <div class="container">
        <div class="tbContainer bottom_side">
            <h2 tabindex="0">מעוניינ/ת בפרטים נוספים?<b> מלא/י את הטופס:</b></h2>
            <% if(Desktop) {%>
                <form class="clientcomment_form" action="/project" method="post" >
                    <div>
                        <lable class="invisible_text">שם מלא</lable><input name="Name" type="text" class="tb form_input" placeholder="<%= global.GlobalVar.Name && global.GlobalVar.Name[Language] ?global.GlobalVar.Name[Language] : 'שם מלא'%>:" required minlength="2"/><i style="color:#000000;font-size: 2vh;vertical-align: top;">*</i>
                        <lable class="invisible_text">טלפון</lable><input name="PhoneNumber" type="text" class="tb form_input" placeholder="<%= global.GlobalVar.Phone && global.GlobalVar.Phone[Language]? global.GlobalVar.Phone[Language] : 'טלפון'%>:" onkeypress="return event.charCode >= 48 && event.charCode <= 57" /><i style="color:#000000;font-size: 2vh;vertical-align: top;">*</i>
                    </div>
                    <div>
                        <lable class="invisible_text">אי-מייל</lable><input name="Email" type="email" class="tb form_input" placeholder="<%= global.GlobalVar.Email && global.GlobalVar.Email[Language]?global.GlobalVar.Email[Language] : 'אימייל'%>:" />
                        <lable class="invisible_text">עיר</lable><input name="City" type="text" class="tb form_input" placeholder="<%= global.GlobalVar.City && global.GlobalVar.City[Language] ?global.GlobalVar.City[Language] : 'עיר'%>:" required minlength="2" /> <i style="color:#000000;font-size: 2vh;vertical-align: top;">*</i>
                    </div>
                    <div style="display:inline-flex;">
                        <textarea name="Content" class="tb form_input" placeholder="<%= global.GlobalVar.Content && global.GlobalVar.Content[Language]? global.GlobalVar.Content[Language] : 'תוכן'%>:" style="height: 11vh;width: 62vh;resize:none;" required minlength="5" /></textarea><i style="color:#000000;font-size: 2vh;vertical-align: top;">*</i>
                        <input type="submit" class="tb send_btn" value="<%= global.GlobalVar.Send && global.GlobalVar.Send[Language] ? global.GlobalVar.Send[Language] : 'שליחה'%>" style="height: 50%;margin-top: 8vh;" />
                    </div>
                    <br><span style="color: #000000;float: right;margin-right: 7vh;">*<%= global.GlobalVar.RequiredFields && global.GlobalVar.RequiredFields[Language] ? global.GlobalVar.RequiredFields[Language] : 'שדות חובה'%></span>
                </form>
            <%} else {%>
                <form class="clientcomment_form" action="/project" method="post" >
                    <input name="Name" type="text" class="tb form_input" placeholder="<%= global.GlobalVar.Name && global.GlobalVar.Name[Language] ?global.GlobalVar.Name[Language] : 'שם מלא'%>:" required minlength="2"/>
                    <input name="PhoneNumber"type="text" class="tb form_input" placeholder="<%= global.GlobalVar.Phone && global.GlobalVar.Phone[Language]? global.GlobalVar.Phone[Language] : 'טלפון'%>:" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                    <input name="Email"type="email" class="tb form_input" placeholder="<%= global.GlobalVar.Email && global.GlobalVar.Email[Language]?global.GlobalVar.Email[Language] : 'אימייל'%>:"/>
                    <input name="City"type="text" class="tb form_input" placeholder="<%= global.GlobalVar.City && global.GlobalVar.City[Language] ?global.GlobalVar.City[Language] : 'עיר'%>:" required minlength="2" /> 
                    <textarea name="Content" class="tb form_input" placeholder="<%= global.GlobalVar.Content && global.GlobalVar.Content[Language]? global.GlobalVar.Content[Language] : 'תוכן'%>:" style="font-size: 2vh;height: 11vh;width: 36vh;resize:none;" required minlength="5" /></textarea>
                    <input type="submit" class="tb send_btn" value="<%= global.GlobalVar.Send && global.GlobalVar.Send[Language] ? global.GlobalVar.Send[Language] : 'שליחה'%>" />
                </form>
            <%}%>
        </div>
    </div>
</section>