<% layout('layoutindex/mainpage') -%>

<div class="arcitectDesignerInfo">
    
<%if(Desktop){%>
<div class="contentMainImgContainer">
    <img class="contentMainImg" alt="תמונת רקע" src="<%= process.env.LINKTOBUCKETS + Page.Header.LinkToBucket + Page.Header.ImageId %>" style="filter: brightness(50%);" />
    <h1 tabindex="0"><%- Page.Header.Title %></h1>
    <div class="contentTxt" tabindex="0"><%- Page.Header.SubTitleHtml %></div>
    <span class="downBtn" data-scrollto="wrap_container"><i class="far fa-caret-square-down"></i></span>
</div>
<%}else{%>
<div class="contentMainImgContainer" style="background: #000000 url(<%= process.env.LINKTOBUCKETS + Page.Header.LinkToBucket + Page.Header.ImageId %>) top right;">
    <h1 tabindex="0"><%- Page.Header.Title %></h1>
    <div class="contentTxt" tabindex="0"><%- Page.Header.SubTitleHtml %></div>
</div>
<%}%>

    <section id="wrap_container" class="wrap_container">
        <div class="container">
            <h2 tabindex="0">רשימת אדריכלים</h2>
            <!--<div>
                <select class="select_item select_aria">
                    <option value="">בחר איזור</option>
                    <option value="center">מרקז</option>
                    <option value="south">דרום</option>
                </select>
                <select class="select_item select_city">
                    <option value="">בחר עיר</option>
                    <option value="telaviv">תל אביב</option>
                    <option value="rishonlzion">ראשל"ץ</option>
                </select>
            </div>
            -->
            <div style="margin-bottom: 5vh;">
                <table id="architects_tb">
                    <tbody>
                     <% Architects.forEach(archi => { %> 
                        <tr onclick="window.open('/architect/<%= archi.Id %>', '_self')" >
                            <td class="architect_logo">
                                <img src="<%=  process.env.LINKTOBUCKETS + archi.Data.ProfileImage %>" alt="תמונה אדריכל" />
                            </td>
                            <td class="architect_name" tabindex="0"><%= archi.Data.Name %></td>
                            <td class="architect_address" tabindex="0"><%= (archi.Data.City + " ,  מחוז " + archi.Data.Location) %> </td>
                            <td class="architect_contacts">
                                <b tabindex="0"> <%= archi.Data.Email %> </b><br>
                            </td>
                             <td class="architect_contacts">
                                <b tabindex="0"><%= archi.Data.PhoneNumber %></b><br>
                                <b tabindex="0"><%= archi.Data.PhoneNumber2 %></b>
                            </td>
                        </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
          <!--  
          <div class="num_pages_wrap">
                <div tabindex="0" class="num_page_btn">1</div>
                <div tabindex="0" class="num_page_btn">2</div>
                <div tabindex="0" class="num_page_btn">3</div>
                <div tabindex="0" class="num_page_btn">4</div>
                <div tabindex="0" class="num_page_btn">...</div>
                <div tabindex="0" class="num_page_btn">&gt;</div>
            </div> 
            -->
        </div>
    </section>