<% layout('layoutindex/mainpage') -%>

<div class="contentMainImgContainer">
    <img class="contentMainImg" alt="" src="<%= process.env.LINKTOBUCKETS + Page.Header.LinkToBucket + Page.Header.ImageId %>" />
    <h1 tabindex="0"><%- Page.Header.Title %></h1>
    <div class="contentTxt" tabindex="0"><%- Page.Header.SubTitleHtml %></div>
    <% if(Desktop){ %>
    <% if(Page.StaticsBlocks && Page.StaticsBlocks.FormTitleBlock){%>
        <div tabindex="0" class="contentTxt"><%= Page.StaticsBlocks.FormTitleBlock %></div>
    <%} else {%>
        <div tabindex="0" class="contentTxt">לקביעת פגישה השאירו פרטים ונחזור אליכם בהקדם!</div>
    <%}%>
  
    <div class="tbContainer">
        <form class="clientcomment_form" action="/priceoffer" method="post" >
            <lable class="invisible_text">שם מלא</lable><input type="text" class="tb form_input" name="Name" placeholder="<%= global.GlobalVar.Name && global.GlobalVar.Name[Language] ?global.GlobalVar.Name[Language] : 'שם מלא'%>:" /><i style="color:#ffffff;font-size: 2vh;vertical-align: top;">*</i>
            <lable class="invisible_text">טלפון</lable><input type="text" class="tb form_input" name="PhoneNumber" placeholder="<%= global.GlobalVar.Phone && global.GlobalVar.Phone[Language]? global.GlobalVar.Phone[Language] : 'טלפון'%>:" /><i style="color:#ffffff;font-size: 2vh;vertical-align: top;">*</i>
            <lable class="invisible_text">אי-מייל</lable><input type="text" class="tb form_input" name="Email" placeholder="<%= global.GlobalVar.Email && global.GlobalVar.Email[Language]?global.GlobalVar.Email[Language] : 'אימייל'%>:" />
            <lable class="invisible_text">עיר</lable><input type="text" class="tb form_input" name="City" placeholder="<%= global.GlobalVar.City && global.GlobalVar.City[Language] ?global.GlobalVar.City[Language] : 'עיר'%>:" /><i style="color:#ffffff;font-size: 2vh;vertical-align: top;">*</i>
            <input type="submit" class="tb send_btn" value="<%= global.GlobalVar.Send && global.GlobalVar.Send[Language] ? global.GlobalVar.Send[Language] : 'שליחה'%>"  />
             <br><span style="color: #ffffff;float: right;margin-right: 7vh;">*<%= global.GlobalVar.RequiredFields && global.GlobalVar.RequiredFields[Language] ? global.GlobalVar.RequiredFields[Language] : 'שדות חובה'%></span>
        </form>
    </div>
    <%}%>
     <% if(Page.StaticsBlocks && Page.StaticsBlocks.FormTitleBlock){%>
         <span data-scrollto="bottom_side_form" class="event_scroll_to_el to_form_section"><%= Page.StaticsBlocks.FormTitleBlock %></span>
    <%} else {%>
         <span data-scrollto="bottom_side_form" class="event_scroll_to_el to_form_section">לקביעת פגישה השאירו פרטים ונחזור אליכם בהקדם!</span>
    <%}%>
   
    <span class="downBtn" data-scrollto="wrap_container" tabindex="0"><i class="far fa-caret-square-down"></i></span>
</div>

<section id="wrap_container" class="wrap_container" style="background:#f5f5f5;">
    <div class="container">
        <% if(Page.StaticsBlocks && Page.StaticsBlocks.PageTitleBlock){%>
           <h2 tabindex="0"><%= Page.StaticsBlocks.PageTitleBlock %></h2>
            <p class="section_text" tabindex="0"><%- Page.StaticsBlocks.PageContentBlock %></p>
        <%} else {%>
            <h2 tabindex="0">דלתות פנדור סניפים - דרכי ההגעה לאולמות התצוגה שלנו</h2>
               <p class="section_text" tabindex="0">
            אנו מזמינים את קהל לקוחתינו הרב להתרשם מקרוב ממבחר הקולקציות הענק והאיכותי שלנו בכל אחד מ-5 אולמות התצוגה
            הנוחים והמעוצבים של חברת פנדור. אנו מתחייבים בפניכם לשירות לקוחות אמין ובלתי מתפשר בכל אחד מסניפי פנדור.</p>
        <%}%>
        
     
        <br>
        <% include selfbranches.ejs %>
    </div>
</section>
<section id="wrap_container" class="wrap_container">
    <div class="container">
     <% if(Page.StaticsBlocks && Page.StaticsBlocks.ExternalBranchesTitleBlock){%>
        <h2 tabindex="0"><%= Page.StaticsBlocks.ExternalBranchesTitleBlock %></h2>
    <%} else {%>
        <h2 tabindex="0">היכן עוד אפשר למצוא דלתות פנדור?</h2>
    <%}%>
        
        <% include externalbranches %>
    </div>
</section>

<% if(!Desktop){%>
<section id="bottom_side_form" class="wrap_container">
    <div class="container">
     <% if(Page.StaticsBlocks && Page.StaticsBlocks.FormTitleBlock){%>
         <h2><%= Page.StaticsBlocks.FormTitleBlock %></h2>
    <%} else {%>
         <h2>לקביעת פגישה השאירו פרטים ונחזור אליכם בהקדם!</h2>
    <%}%>
       
        <div class="tbContainer bottom_side">
            <form class="clientcomment_form" action="/priceoffer" method="post" >
                <input type="text" class="tb form_input" name="Name" placeholder="<%= global.GlobalVar.Name && global.GlobalVar.Name[Language] ?global.GlobalVar.Name[Language] : 'שם מלא'%>:" />
                <input type="text" class="tb form_input" name="PhoneNumber" placeholder="<%= global.GlobalVar.Phone && global.GlobalVar.Phone[Language]? global.GlobalVar.Phone[Language] : 'טלפון'%>:" />
                <input type="text" class="tb form_input" name="Email" placeholder="<%= global.GlobalVar.Email && global.GlobalVar.Email[Language]?global.GlobalVar.Email[Language] : 'אימייל'%>:" />
                <input type="text" class="tb form_input" name="City" placeholder="<%= global.GlobalVar.City && global.GlobalVar.City[Language] ?global.GlobalVar.City[Language] : 'עיר'%>:" />
                <input type="submit" class="tb send_btn" value="<%= global.GlobalVar.Send && global.GlobalVar.Send[Language] ? global.GlobalVar.Send[Language] : 'שליחה'%>"/>
            </form>
        </div>
    </div>
</section>
<%}%>