
    <% images.forEach((image, i) => { %>
    <div class="gallery_image" data-imageid="<%= image.id %>">
        <img class="image_one" data-imageid="<%= image.id %>" data-index="<%= i %>" src="https://storage.googleapis.com/<%= image.metadata.bucket %>/<%= image.id %>" alt="">
        <div class="desc">
                <span><%= image.id.slice(14) %></span>
            <i class="fas fa-trash-alt remove_file" data-imageid="<%= image.id %>"></i>
        </div>
    </div>
    <%})%>