  <div id="sortable" class="col connectedSortable">
     <h2 class="version_title">פעיל</h2>
        <% if(Prod){ let item = Prod; %>
        <li data-id="<%= item.Id %>" data-bucket="<%= Bucket %>">
            <div class="page_item">
                <span class="page_item_position"><b><%= item.Position %></b></span>
                <b style="margin:0 2vh;">&#124;</b>
                <b  class="language_type_in_row"><%= item.Language || "he" %></b>
                <b style="margin:0 2vh;">&#124;</b>
                <span class=""><%= moment(item.DateCreate).tz('Asia/Jerusalem').format("DD/MM/YYYY HH:mm") %></span>
                <b style="margin:0 2vh;">&#124;</b>
                <span class="item_data_in_row title_news_versions" data-itemdata="<%= JSON.stringify(item.Data) %>"></span>
                <i class="fas fa-bars nav_options"></i>
            </div>
        </li>
        <%}%>
    </div>


    <div id="sortable_tmp" class="col connectedSortable">
    <h2 class="version_title">לא פעיל</h2>
        <% if(Versions && Versions.length){ Versions.forEach(item => { if(!Prod || item.Id != Prod.Id){ %>
        <li data-id="<%= item.Id %>" data-bucket="<%= Bucket + '-tmp' %>">
            <div class="page_item">
                <span class="page_item_position"><b>0</b></span>
                <b style="margin:0 2vh;">&#124;</b>
                <b class="language_type_in_row"><%= item.Language || "he" %></b>
                <b style="margin:0 2vh;">&#124;</b>
                <span class=""><%= moment(item.DateCreate).tz('Asia/Jerusalem').format("DD/MM/YYYY HH:mm") %></span>
                <b style="margin:0 2vh;">&#124;</b>
                <span class="item_data_in_row title_news_versions" data-itemdata="<%= JSON.stringify(item.Data) %>"></span>
                <i class="fas fa-bars nav_options"></i>
                <i class="fas fa-trash-alt remove_page" data-page="<%= Bucket + '-tmp' %>" style="margin:0 3vh;cursor:pointer;"  data-id="<%= item.Id %>"></i>
            </div>
        </li>
        <%}})}%>
    </div>

    <div class="col" style="width:10%;">
        <button class="btn_class btn_purple" id="template_page" style="float:none;" disabled>דוגמא</button><br>
          <button class="btn_class" id="preview_page" disabled>הצגה</button><br>
        <button class="btn_class btn_blue" id="publish_page">לפרסם</button>
    </div>