<% layout('layoutindex/mainpage') -%>


<div class="contentMainImgContainer">
    <img class="contentMainImg" alt="" src="<%= Page.Header.LinkToBucket %>" style="filter: brightness(50%);" />
    <h3><%- Page.Header.Title %></h3>
    <div class="contentTxt"><%- Page.Header.SubTitleHtml %></div>
    <span class="downBtn" data-scrollto="wrap_container"><i class="far fa-caret-square-down"></i></span>
</div>

<section id="wrap_container" class="wrap_container">
<div class="container">
<div class="contentTextContainer"><%- Page.Content.ContentHtml %></div>
        <div class="contentImages">
        <% if(Page.Content.ContentImages && Page.Content.ContentImages.length ) {  Page.Content.ContentImages.forEach(item => { %>
         <img alt="<%= item.ImageId %>" src="<%= item.LinkToBucket %>" />
        <%})}%>
        </div>
</div>
</section>

<% if(Page.Accordion) {%>
<section class="wrap_container">
    <div class="" style="width:100%;">
        <div class="container">
            <h2>שאלות נפוצות</h2>
            <% Page.Accordion.forEach(item => {%>
            <button class="accordion_row"><%- item.AccordionTitle %></button>
            <div class="accordion_inside_panel"><p><%- item.AccordionDescription %></p></div>
            <%})%>
        </div>
    </div>
    </div>
</section>
<%}%>

<section class="wrap_container">
    <div class="container">
        <div class="tbContainer bottom_side">
            <h2>מעוניינ/ת בפרטים נוספים?<b> מלא/י את הטופס:</b></h2>
            <input type="text" class="tb" placeholder="שם מלא:" />
            <input type="text" class="tb" placeholder="טלפון:" />
            <input type="text" class="tb" placeholder="אימייל:" />
            <input type="text" class="tb" placeholder="כתובת:" />
            <input type="text" class="tb" placeholder="תוכן:" />
            <input type="button" class="tb send_btn" value="שליחה" />
        </div>
    </div>
</section>