<% layout('layoutindex/mainpage') -%>

<%if(!Desktop){%>
<div class="contentMainImgContainer" style="background: #000000 url(<%= process.env.LINKTOBUCKETS + 'default/default_background_collactoins.mobile.jpg' %>) no-repeat center;">
    <h1 tabindex="0"><%- Page.Header.Title %></h1>
    <div class="contentTxt" tabindex="0"><%- Page.Header.SubTitleHtml %></div>
</div>
<%}%>

 <% if(Desktop){ %>
<div class="global_catalog_wrap" style="background: url(<%- (process.env.LINKTOBUCKETS + 'default/default_background_collactoins.jpg') %>) no-repeat;">
<%} else {%>
    <div class="contactImgBg" style="background:#eeeeee;">
<%}%>
    <div class="container">
        <% if(Desktop){ %>
        <h1 tabindex="0"><%- Page.Header.Title %></h1>
        <div class="catTxt" tabindex="0"><%- Page.Header.SubTitleHtml %></div>
        <%}%>
        <% Page.DoorPages.forEach(item =>{ %> 
        <div class="doorsBox">
            <a href="/door/<%= item.IndexPage %>" class="catalog_link_door">
                <img tabindex="0" alt="דור קולקציה" src="<%= process.env.LINKTOBUCKETS + item.FrontModelImage %>" class="image_door" />
                <% if(Desktop){ %>
                <img tabindex="0" class="catalog_frame_door" alt="הלבשה" src="<%= process.env.LINKTOBUCKETS + item.FrameModel %>" />
                <%}%>
                <div class="description_door_catalog" tabindex="0"><%= item.Description %></div>
            </a>
            <a class="btn-model" href="/door/<%= item.IndexPage %>" tabindex="0" ><%= item.CollectionName %></a>
        </div>
        <%})%>
    </div>
</div>