<% layout('layoutindex/mainpage') -%>

<div class="contentMainImgContainer">
    <img class="contentMainImg" alt="" src="<%= process.env.LINKTOBUCKETS + Page.Header.LinkToBucket + Page.Header.ImageId %>" />
     <h1 tabindex="0"><%- Page.Header.Title %></h1>
     <div class="contentTxt" tabindex="0"><%- Page.Header.SubTitleHtml %></div>
     <% if(Desktop){ %>
    <div style="padding-top:2vh;" class="contentTxt" tabindex="0">מעוניינים לקבל הצעת מחיר?</div>
    <div class="tbContainer">
    <form class="clientcomment_form" action="/priceoffer" method="post" >
           <lable class="invisible_text">שם מלא</lable><input type="text" class="tb form_input" name="Name" placeholder="<%= global.GlobalVar.Name && global.GlobalVar.Name[Language] ?global.GlobalVar.Name[Language] : 'שם מלא'%>:" /><i style="color:#ffffff;font-size: 2vh;vertical-align: top;">*</i>
            <lable class="invisible_text">טלפון</lable><input type="text" class="tb form_input" name="PhoneNumber" placeholder="<%= global.GlobalVar.Phone && global.GlobalVar.Phone[Language]? global.GlobalVar.Phone[Language] : 'טלפון'%>:" /><i style="color:#ffffff;font-size: 2vh;vertical-align: top;">*</i>
            <lable class="invisible_text">אי-מייל</lable><input type="text" class="tb form_input" name="Email" placeholder="<%= global.GlobalVar.Email && global.GlobalVar.Email[Language]?global.GlobalVar.Email[Language] : 'אימייל'%>:" />
            <lable class="invisible_text">עיר</lable><input type="text" class="tb form_input" name="City" placeholder="<%= global.GlobalVar.City && global.GlobalVar.City[Language] ?global.GlobalVar.City[Language] : 'עיר'%>:" /><i style="color:#ffffff;font-size: 2vh;vertical-align: top;">*</i>
            <input type="submit" class="tb send_btn" value="<%= global.GlobalVar.Send && global.GlobalVar.Send[Language] ? global.GlobalVar.Send[Language] : 'שליחה'%>"  />
            <br><span style="color: #ffffff;float: right;margin-right: 7vh;">*<%= global.GlobalVar.RequiredFields && global.GlobalVar.RequiredFields[Language] ? global.GlobalVar.RequiredFields[Language] : 'שדות חובה'%></span>
    </form>
    </div>
    <%}%>
     <span data-scrollto="bottom_side_form" class="event_scroll_to_el to_form_section">מעוניינים לקבל הצעת מחיר</span>
    <span class="downBtn" data-scrollto="wrap_container" tabindex="0"><i class="far fa-caret-square-down"></i></span>
</div>
<section id="wrap_container" class="wrap_container">
   <div class="container">
           <h2 tabindex="0">גלריית פרויקטים</h2>
           <!-- <div class="section_text"> <%- Page.Content.ContentHtml %></div> -->
    <div class="galleryContainer">
   
        <div class="col50pre">
            <% let project = Page.Content.ContentImages[0]; %>
            <a class="thumbwidth100pre" data-fancybox="gallery" href="/project/<%= project.ProjectId %>">
                <img alt="<%= project.ImageId %>" src="<%= process.env.LINKTOBUCKETS + project.LinkToBucket + project.ImageId %>" />
                <span class="imgInfo" tabindex="0">
                    <%= decodeURIComponent(project.Title) %><br><br>
                    אדריכל: &nbsp;&nbsp;<%= decodeURIComponent(project.ArchitectName) %>&nbsp;
                </span>
            </a>
            <% project = Page.Content.ContentImages[1]; %>
            <a class="thumbW" data-fancybox="gallery" href="/project/<%= project.ProjectId %>">
                 <img alt="<%= project.ImageId %>" src="<%= process.env.LINKTOBUCKETS + project.LinkToBucket + project.ImageId %>" />
                <span class="imgInfo" tabindex="0">
                      <%= decodeURIComponent(project.Title) %><br><br>
                    אדריכל: &nbsp;&nbsp;<%= decodeURIComponent(project.ArchitectName) %>&nbsp;
                </span>
            </a>
            <% project = Page.Content.ContentImages[2]; %>
            <a class="thumbW" data-fancybox="gallery"  href="/project/<%= project.ProjectId %>">
                <img alt="<%= project.ImageId %>" src="<%= process.env.LINKTOBUCKETS + project.LinkToBucket + project.ImageId %>" />
                <span class="imgInfo" tabindex="0">
                   <%= decodeURIComponent(project.Title) %><br><br>
                    אדריכל: &nbsp;&nbsp;<%= decodeURIComponent(project.ArchitectName) %>&nbsp;
                </span>
            </a>
            <% project = Page.Content.ContentImages[3]; %>
            <a class="thumbW" data-fancybox="gallery"  href="/project/<%= project.ProjectId %>">
                <img alt="<%= project.ImageId %>" src="<%= process.env.LINKTOBUCKETS + project.LinkToBucket + project.ImageId %>" />
                <span class="imgInfo" tabindex="0">
                    <%= decodeURIComponent(project.Title) %><br><br>
                    אדריכל: &nbsp;&nbsp;<%= decodeURIComponent(project.ArchitectName) %>&nbsp;
                </span>
            </a>
            <% project = Page.Content.ContentImages[4]; %>
            <a class="thumbW" data-fancybox="gallery"  href="/project/<%= project.ProjectId %>">
                <img alt="<%= project.ImageId %>" src="<%= process.env.LINKTOBUCKETS + project.LinkToBucket + project.ImageId %>" />
                <span class="imgInfo" tabindex="0">
                     <%= decodeURIComponent(project.Title) %><br><br>
                    אדריכל: &nbsp;&nbsp;<%= decodeURIComponent(project.ArchitectName) %>&nbsp;
                </span>
            </a>
        </div>
        <div class="col50pre">
            <div class="col50pre">
            <% project = Page.Content.ContentImages[5]; %>
                <a class="thumbwidth100pre4" data-fancybox="gallery"  href="/project/<%= project.ProjectId %>">
                   <img alt="<%= project.ImageId %>" src="<%= process.env.LINKTOBUCKETS + project.LinkToBucket + project.ImageId %>" />
                    <span class="imgInfo" tabindex="0">
                       <%= decodeURIComponent(project.Title) %><br><br>
                    אדריכל: &nbsp;&nbsp;<%= decodeURIComponent(project.ArchitectName) %>&nbsp;
                    </span>
                </a>
                <% project = Page.Content.ContentImages[6]; %>
                <a class="thumbwidth100pre4" data-fancybox="gallery"  href="/project/<%= project.ProjectId %>">
                <img alt="<%= project.ImageId %>" src="<%= process.env.LINKTOBUCKETS + project.LinkToBucket + project.ImageId %>" />
                    <span class="imgInfo" tabindex="0">
                       <%= decodeURIComponent(project.Title) %><br><br>
                    אדריכל: &nbsp;&nbsp;<%= decodeURIComponent(project.ArchitectName) %>&nbsp;
                    </span>
                </a>
            </div>
            <div class="col50pre">
                <% project = Page.Content.ContentImages[7]; %>
                <a data-fancybox="gallery"  href="/project/<%= project.ProjectId %>" >
               <img alt="<%= project.ImageId %>" src="<%= process.env.LINKTOBUCKETS + project.LinkToBucket + project.ImageId %>" />
                    <span class="imgInfo" tabindex="0">
                         <%= decodeURIComponent(project.Title) %><br><br>
                    אדריכל: &nbsp;&nbsp;<%= decodeURIComponent(project.ArchitectName) %>&nbsp;
                    </span>
                </a>
                 <% project = Page.Content.ContentImages[8]; %>
                <a data-fancybox="gallery"  href="/project/<%= project.ProjectId %>" >
               <img alt="<%= project.ImageId %>" src="<%= process.env.LINKTOBUCKETS + project.LinkToBucket + project.ImageId %>" />
                    <span class="imgInfo" tabindex="0">
                         <%= decodeURIComponent(project.Title) %><br><br>
                    אדריכל: &nbsp;&nbsp;<%= decodeURIComponent(project.ArchitectName) %>&nbsp;
                    </span>
                </a>
            </div>
            <% project = Page.Content.ContentImages[9]; %>
            <a class="thumbwidth100pre" data-fancybox="gallery"  href="/project/<%= project.ProjectId %>">
            <img alt="<%= project.ImageId %>" src="<%= process.env.LINKTOBUCKETS + project.LinkToBucket + project.ImageId %>" />
                <span class="imgInfo" tabindex="0">
                    <%= decodeURIComponent(project.Title) %><br><br>
                    אדריכל: &nbsp;&nbsp;<%= decodeURIComponent(project.ArchitectName) %>&nbsp;
                </span>
            </a>
        </div>
    <!--
        <div class="num_pages_wrap">
            <div class="num_page_btn">1</div>
            <div class="num_page_btn">2</div>
            <div class="num_page_btn">3</div>
            <div class="num_page_btn">4</div>
            <div class="num_page_btn">...</div>
            <div class="num_page_btn">&gt;</div>
        </div>
        -->
    </div>
    </div>
</section>

<% if(!Desktop){%>
    <section id="bottom_side_form" class="wrap_container">
        <div class="container">
            <h2>מעוניינים לקבל הצעת מחיר?</h2>
            <div class="tbContainer bottom_side">
           <form class="clientcomment_form" action="/priceoffer" method="post"  >
                    <input type="text" class="tb form_input" name="Name" placeholder="<%= global.GlobalVar.Name && global.GlobalVar.Name[Language] ?global.GlobalVar.Name[Language] : 'שם מלא'%>:" />
                    <input type="text" class="tb form_input" name="PhoneNumber" placeholder="<%= global.GlobalVar.Phone && global.GlobalVar.Phone[Language]? global.GlobalVar.Phone[Language] : 'טלפון'%>:" />
                    <input type="text" class="tb form_input" name="Email" placeholder="<%= global.GlobalVar.Email && global.GlobalVar.Email[Language]?global.GlobalVar.Email[Language] : 'אימייל'%>:" />
                    <input type="text" class="tb form_input" name="City" placeholder="<%= global.GlobalVar.City && global.GlobalVar.City[Language] ?global.GlobalVar.City[Language] : 'עיר'%>:" />
                    <input type="submit" class="tb send_btn" value="<%= global.GlobalVar.Send && global.GlobalVar.Send[Language] ? global.GlobalVar.Send[Language] : 'שליחה'%>" />
            </form>
            </div>
        </div>
    </section>
    <%}%>