<% layout('layoutindex/mainpage') -%>

<div class="contentMainImgContainer">
<% if(Page) {%>
    <img class="contentMainImg" alt="" src="<%= Page.Header.LinkToBucket %>" />
    <h3><%- Page.Header.Title %></h3>
    <div class="contentTxt"><%- Page.Header.SubTitleHtml %></div>
    <% if(Desktop){ %>
    <div class="contentTxt">מעוניינים לקבל הצעת מחיר?</div>
    <div class="tbContainer">
        <input type="text" class="tb" placeholder="שם מלא:" />
        <input type="text" class="tb" placeholder="טלפון:" />
        <input type="text" class="tb" placeholder="כתובת:" />
        <input type="button" class="tb send_btn" value="שליחה" />
    </div>
    <%}%>
    <span data-scrollto="bottom_side_form" class="event_scroll_to_el to_form_section">מעוניינים לקבל הצעת מחיר</span>
    <span class="downBtn" data-scrollto="wrap_container"><i class="far fa-caret-square-down"></i></span>
</div>

<section id="wrap_container" class="wrap_container">
    <div class="container">
     <h2>מבצע</h2>
     <div class=""> <%- Page.Content.ContentHtml %></div>
        <div style="text-align: center;">
             <% if(Page.Content.ContentImages && Page.Content.ContentImages.length ) {  Page.Content.ContentImages.forEach(item => { %>
                   <img alt="<%= item.ImageId %>" src="<%= item.LinkToBucket %>" style="width:100%;" />
             <%})}%>
        </div>
    </div>
  
</section>
<%}%>

<% if(!Desktop){%>
    <section id="bottom_side_form" class="wrap_container">
        <div class="container">
            <h2>להזמנת שירות</h2>
            <div class="tbContainer bottom_side">
            <input type="text" class="tb" placeholder="שם מלא:" />
            <input type="text" class="tb" placeholder="טלפון:" />
            <input type="text" class="tb" placeholder="כתובת:" />
                <input type="button" class="tb send_btn" value="שליחה" />
            </div>
        </div>
    </section>
    <%}%>