<% layout('layoutindex/mainpage') -%>

<div class="contentMainImgContainer">
    <img class="contentMainImg" alt="תמונת רקע" src="<%= process.env.LINKTOBUCKETS + Page.Header.LinkToBucket + Page.Header.ImageId %>" />
    <h1 tabindex="0"><%- Page.Header.Title %></h1>
    <div class="contentTxt" tabindex="0"><%- Page.Header.SubTitleHtml %></div>
    <% if(Desktop){ %>
    <div class="tbContainer">
        <form class="clientcomment_form" action="/service" method="post" >
                    <div>
                        <input name="Name" type="text" class="tb form_input" placeholder="שם מלא:" required minlength="2"/>
                        <input name="PhoneNumber" type="text" class="tb form_input" placeholder="טלפון:" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                    </div>
                    <div>
                        <input name="Email" type="email" class="tb form_input" placeholder="אימייל:"  required/>
                        <input name="City" type="text" class="tb form_input" placeholder="עיר:" required minlength="2" /> 
                    </div>
                    <div style="display:inline-flex;">
                        <textarea name="Content" class="tb form_input" placeholder="תוכן:" style="height: 11vh;width: 62vh;resize:none;" required minlength="5" /></textarea>
                        <input type="submit" class="tb send_btn" value="שליחה" style="height: 50%;margin-top: 8vh;" />
                    </div>
                </form>
    </div>
    <%}%>
    <span data-scrollto="bottom_side_form" class="event_scroll_to_el to_form_section" >השארת פרטים</span>

    <span class="downBtn" data-scrollto="wrap_container"><i class="far fa-caret-square-down"></i></span>
</div>

<section id="wrap_container" class="wrap_container">
    <div class="container">
        <div class="infoContactBox">
            <i class="far fa-clock" style="font-size: 60px;"></i>
            <span tabindex="0">
                <b>שעות פעילות</b><br />
                א'-ה' <%= Page.Open + " - " + Page.Close %>
            </span>
        </div>
        <div class="infoContactBox">
            <i class="far fa-envelope" style="font-size: 60px;"></i>
            <span tabindex="0">
                <b>אימייל</b><br />
                <a href="mailto:<%= Page.Email %>"><%= Page.Email %></a>
            </span>
        </div>
        <div class="infoContactBox">
            <i class="fas fa-mobile-alt" style="font-size: 60px;"></i>
            <span tabindex="0">
                <b>טלפון</b><br />
                <a href="tel:<%= Page.PhoneNumber %>"><%= Page.PhoneNumber %></a>
            </span>
        </div>
        <div class="infoContactBox">
            <i class="fas fa-fax" style="font-size: 60px;"></i>
            <span tabindex="0">
                <b>פקס</b><br />
                <%= Page.Fax %>
            </span>
        </div>
        <a href="/video">
            <div class="infoContactBox hover">
                <i class="fas fa-film" style="font-size: 60px;"></i>
                <span tabindex="0"><b>סרטוני הדרכה של דלתות פנדור</b></span>
            </div>
        </a>
        <div class="infoContactBox hover event_scroll_to_el" data-scrollto="installers">
            <i class="far fa-address-card" style="font-size: 60px;"></i>
            <span tabindex="0"><b>טיפול חירום</b></span>
        </div>
    </div>
</section>

<% if(Page && Page.Accordion) {%>
<section class="wrap_container">
    <div class="faq">
        <div class="container" style="text-align: right;">
            <h2 tabindex="0">שאלות נפוצות</h2>
             <% Page.Accordion.forEach(item => {%>
                <button class="accordion_row"><%- item.AccordionTitle %></button>
                <div class="accordion_inside_panel"><p tabindex="0"><%- item.AccordionDescription %></p></div>
            <%})%>
        </div>
    </div>
</section>
<%}%>

<% if(Installers) { %>
<style>
    #installers{
            background: url(<%= process.env.LINKTOBUCKETS + 'default/default_background_installers.jpg' %>) no-repeat center center;
    }
    @media (max-width: 900px){
            #installers {
                background: #282828;
        }
    }
</style>
<div class="contactImgBg" id="installers">
    <div class="container ta_center">
        <div class="ttl">
            <img alt="247Icon" src="/images/247Icon.png" /><br />
            <b tabindex="0">טיפול חירום בפריצות דלתות</b>
        </div>
        <ul>
            <% Installers.forEach(installer => { %>
            <li>
                <a href="tel:<%= installer.Data.PhoneNumber %>">
                    <div tabindex="0">
                        <b tabindex="0"><%= installer.Data.Name %></b>
                        <span tabindex="0"><%= installer.Data.PhoneNumber %></span>
                        <span style="font-weight: 700;color: #ff4200;" tabindex="0"><%= installer.Data.LocationHe %></span>
                    </div>
                </a>
               
            </li>
             <% }) %>
        </ul>
    </div>
</div>
 <%}%>

<% if(!Desktop){%>
<section id="bottom_side_form" class="wrap_container">
    <div class="container">
        <h2>השארת פרטים</h2>
        <div class="tbContainer bottom_side">
            <form class="clientcomment_form" action="/service" method="post" >
                <input type="text" class="tb form_input" name="Name" placeholder="שם מלא:" />
                <input type="text" class="tb form_input" name="PhoneNumber" placeholder="טלפון:" />
                <input type="text" class="tb form_input" name="Email" placeholder="אימייל:" />
                <input type="text" class="tb form_input" name="City" placeholder="כתובת:" />
                <input type="text" class="tb form_input" name="Content" placeholder="תוכן:" />
                <input type="submit" class="tb send_btn" value="שליחה" />
            </form>
        </div>
    </div>
</section>
<%}%>