<% layout('adminpanel/index') -%>

<h2 class="title_wrap">
    אודותינו
</h2>


<div>
    <button class="btn_class switch_wraps" data-wrap="metadata">עריכת מטה</button>
    <button class="btn_class switch_wraps" data-wrap="header">עריכת כותרת</button>
    <button class="btn_class switch_wraps" data-wrap="content">עריכת תוכן</button>
    <button class="btn_class switch_wraps active" data-wrap="versions">רשימת גרסות</button>

    <button class="btn_class btn_green" id="save_new" style="float:left;" disabled>לשמור</button>
</div>


<div class="wrap_two_col" style="display:none;" data-wrap="metadata">
    <div class="col">
        <table class="meta_data_table">
            <tbody>
                <% if(Prod && Prod.Data && Prod.Data.MetaData){ Prod.Data.MetaData.forEach(item => { %>
                <tr>
                    <td style="width: 20vh;">
                        <select class="type_meta_select" disabled>
                            <option value="description" <%= (item.MetaType=='description' ?'selected':'') %>>Description</option>
                            <option value="keywords" <%= (item.MetaType=='keywords' ?'selected':'') %>>Keywords</option>
                        </select>
                    </td>
                    <td><input value="<%= item.MetaDescription %>" readonly /></td>
                    <td style="width: 25vh;">
                        <button class="btn_class edit_meta_row">&nbsp;<i class="fas fa-edit" ></i>&nbsp;</button>
                    </td>
                    <td style="width: 5vh;"><i class="fas fa-trash-alt remove_row_meta" style="color:red;cursor:pointer;"></i></td>
                </tr>
                <%})}%>
            </tbody>
        </table>
    </div>

    <div class="col">
        <button class="btn_class" id="add_new_meta">הוסיף חדש</button>
    </div>
</div>

<div class="wrap_three_col wrap_header_page" style="display:none;" data-wrap="header">
    <div class="col" style="background:#ffffff;text-align: center;">
        <h2>תמונה</h2>
        <button class="btn_class open_gallery" data-bucket="headers">תמונת כותרת</button>
        <div class="wrap_images_" data-wrap_images="headers">
            <% if(Prod && Prod.Data && Prod.Data.Header && Prod.Data.Header.ImageId) { let image = Prod.Data.Header; %>
            <div class="gallery_image" data-imageid="<%= image.ImageId %>">
                <img class="image_one" data-imageid="<%= image.ImageId %>" src="<%= image.LinkToBucket %>" alt="<%= image.ImageId.slice(14) %>">
                <div class="desc">
                    <span>
                        <%= image.ImageId.slice(14) %>
                    </span>
                    <i class="fas fa-trash-alt remove_file" data-imageid="<%= image.ImageId %>"></i>
                </div>
            </div>
            <%}%>
        </div>
    </div>
    <div class="col" style="background:none;text-align: center;position: relative;">
        <h2>כותרת ראשית</h2>
        <input type="text" class="title_header" value="<%= (Prod.Data.Header?Prod.Data.Header.Title:'') %>" style="padding: 1vh;width: 100%;" />
        <h2>כותרת תחתית</h2>
        <textarea class="text_area_page_editor sub_title_header" style="display:none;"></textarea>
        <div class="original_html_text" style="display:block;">
            <%- (Prod.Data.Header?Prod.Data.Header.SubTitleHtml : '') %>
        </div>
        <div>
            <button class="btn_class remove_text">נקוי</button>
        </div>
    </div>
    <div class="col">
        <button class="btn_class text_formated">הוסיף תוכן</button>
    </div>
</div>

<div class="wrap_three_col wrap_content_page" style="display:none;" data-wrap="content">
    <div class="col" style="background:#ffffff;text-align: center;position: relative;">
        <h2>תמונה</h2>
        <button class="btn_class open_gallery" data-bucket="generals">תמונת</button>
        <div class="wrap_images_" data-wrap_images="generals">
            <% if(Prod && Prod.Data && Prod.Data.Content && Prod.Data.Content.ContentImages) { Prod.Data.Content.ContentImages.forEach(item => { %> 
            <div class="gallery_image" data-imageid="<%= item.ImageId %>">
                <img class="image_one" data-imageid="<%= item.ImageId %>" src="<%= item.LinkToBucket %>" alt="<%= item.ImageId.slice(14) %>">
                <div class="desc">
                    <div class="desc">
                        <span>
                            <%= item.ImageId.slice(14) %>
                        </span>
                        <i class="fas fa-trash-alt remove_file" data-imageid="<%= item.ImageId %>"></i>
                    </div>
                </div>
            </div>
            <% })}%>
        </div>
    </div>
    <div class="col" style="background:none;text-align: center;">
        <h2>תוכן </h2>
        <textarea class="text_area_page_editor content_text" style="display:none;"></textarea>
        <div class="original_html_text" style="display:block;">
            <%- (Prod && Prod.Data.Content && Prod.Data.Content.ContentHtml?Prod.Data.Content.ContentHtml : '') %>
        </div>
        <div>
            <button class="btn_class remove_text">נקוי</button>
        </div>
    </div>
    <div class="col">
        <button class="btn_class text_formated">הוסיף תוכן</button>
    </div>
</div>

<div class="wrap_three_col" style="display:inline-flex;" data-wrap="versions">
    <div id="sortable" class="col connectedSortable">
        <% if(Prod && Prod.Data.Header){ let item = Prod; %>
        <li data-id="<%= item.Id %>" data-bucket="aboutus">
            <div class="page_item">
                <span class="page_item_position"><b><%= item.Position %></b></span>
                <b style="margin:0 2vh;">&#124;</b>
                <span class=""><%= moment(item.DateCreate).format("DD/MM/YYYY HH:mm") %></span>
                <b style="margin:0 2vh;">&#124;</b>
                <b><span class="page_item_desc" style="margin-right:5vh;"><%= item.Data.Header.Title %></span></b>
                <i class="fas fa-bars nav_options"></i>
            </div>
        </li>
        <%}%>
    </div>


    <div id="sortable_tmp" class="col connectedSortable">
        <% if(Versions && Versions.length){ Versions.forEach(item => {  %>
        <li data-id="<%= item.Id %>" data-bucket="aboutus-tmp">
            <div class="page_item">
                <span class="page_item_position"><b>0</b></span>
                <b style="margin:0 2vh;">&#124;</b>
                <span class=""><%= moment(item.DateCreate).format("DD/MM/YYYY HH:mm") %></span>
                <b style="margin:0 2vh;">&#124;</b>
                <b><span class="page_item_desc" style="margin-right:5vh;"><%= item.Data.Header.Title %></span></b>
                <i class="fas fa-bars nav_options"></i>
                <i class="fas fa-trash-alt remove_page" data-page="aboutus-tmp" style="margin:0 3vh;cursor:pointer;"  data-id="<%= item.Id %>"></i>
            </div>
        </li>
        <%})}%>
    </div>

    <div class="col">
        <button class="btn_class" id="preview_page" disabled>הצגה</button>
        <button class="btn_class btn_blue" id="publish_page">לפרסם</button>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/javascript/flash.js"></script>
<script src="/javascript/generaladmin.js"></script>
<script src="/javascript/pageeditor/aboutus.js"></script>
<script src="/javascript/pageeditor/general.js"></script>