<% layout('adminpanel/index') -%>


<h2 class="title_wrap">
   חדשות
</h2>

<div>
    <button class="btn_class switch_wraps" data-wrap="active_version" >חדש</button>
    <button class="btn_class switch_wraps active" data-wrap="versions">רשימת חדשות</button>
</div>

<div class="wrap_two_col" style="display:none;" data-wrap="active_version">
    <div class="col" style="width: 50%;">
        <textarea placeholder="חדשות..." style="width:100%;height:20vh;padding: 5vh;resize: none;" id="news_text" ></textarea>
    </div>

    <div class="col">
        <button class="btn_class btn_green" id="save_new" disabled>לשמור</button>
    </div>
</div>


<div class="wrap_three_col" style="display:inline-flex;" data-wrap="versions">

    <div id="sortable" class="col connectedSortable">
        <h2 class="version_title">פעיל</h2>
        <% if(Prods && Prods.length){ Prods.sort((a, b) => a.Position -b.Position).forEach(item => { %>
        <li data-id="<%= item.Id %>" data-bucket="newspandoor">
            <div class="page_item">
                <span class="page_item_position"><b><%= item.Position %></b></span>
                <b style="margin:0 2vh;">&#124;</b>
                <span class=""><%= moment(item.DateCreate).tz('Asia/Jerusalem').format("DD/MM/YYYY HH:mm") %></span>
                <b style="margin:0 2vh;">&#124;</b>
                <span class="title_news_versions"><%= item.Data.NewsText %></span>
                <i class="fas fa-bars nav_options"></i>
            </div>
        </li>
        <%})}%>
    </div>


    <div id="sortable_tmp" class="col connectedSortable version">
        <h2 class="version_title">לא פעיל</h2>
        <% if(Versions && Versions.length){ Versions.forEach(item => {  if(!Prods || !Prods.find(prod => prod.Id == item.Id)){ %>
        <li data-id="<%= item.Id %>" data-bucket="newspandoor-tmp">
            <div class="page_item">
                <span class="page_item_position"><b>0</b></span>
                <b style="margin:0 2vh;">&#124;</b>
                <span class=""><%= moment(item.DateCreate).tz('Asia/Jerusalem').format("DD/MM/YYYY HH:mm") %></span>
                <b style="margin:0 2vh;">&#124;</b>
                <span class="title_news_versions"><%= item.Data.NewsText %></span>
                <i class="fas fa-bars nav_options"></i>
                <i class="fas fa-trash-alt remove_page" data-page="newspandoor-tmp" style="margin:0 3vh;cursor:pointer;"  data-id="<%= item.Id %>"></i>
            </div>
        </li>
        <%}})}%>
    </div>
    <div class="col">
        <button class="btn_class btn_purple" id="template_page" style="float:none;" disabled>דוגמא</button><br>
        <button class="btn_class btn_blue" id="publish_page">לפרסם</button><br>
         <button class="btn_class btn_liteblue" id="deactivate_block">בלוק לא פעיל</button>
    </div>
</div>