<% layout('adminpanel/index') -%>


<h2 class="title_wrap">
    קולקציות פירזול
</h2>

<div>
    <button class="btn_class switch_wraps" data-wrap="pirzul_collection">דוגמות פרזול</button>
    <button class="btn_class switch_wraps active" data-wrap="versions">רשימת קולקציות</button>
      <select class="select_item" id="language_select_preview" data-type="1" style="width: 150px;font-size: 19px;">
        <option value="pirzul" selected>עברית</option>
        <option value="en_pirzul">English</option>
        <option value="ru_pirzul">Русский</option>
        <option value="ar_pirzul">العربية</option>
    </select>
    <button class="btn_class btn_green" id="save_new" style="float:left;" disabled>לשמור</button>
      <select class="select_item" id="language_select" style="width: 150px;font-size: 19px;float:left;background:#eee" disabled>
        <option value selected>בחר...</option>
        <option value="he">עברית</option>
        <option value="en">English</option>
        <option value="ru">Русский</option>
        <option value="ar">العربية</option>
    </select>
</div>


<div class="wrap_two_col" style="display:none;" data-wrap="pirzul_collection">
    <div class="col" style="max-height: 63vh;">
        <table class="doors_table" style="width: 100%;">
            <tbody></tbody>
        </table>
    </div>
    <div class="col">
        <button class="btn_class" id="add_new_pirzul">הוסיף חדש</button><br>
    </div>
</div>


<div class="wrap_three_col" style="display:inline-flex;" data-wrap="versions" id="vertion_wrap">
    <div id="sortable" class="col connectedSortable">
     <h2 class="version_title">פעיל</h2>
        <% if(Prod){ let item = Prod; %>
        <li data-id="<%= item.Id %>" data-bucket="pirzul">
            <div class="page_item">
                <span class="page_item_position"><b><%= item.Position %></b></span>
                <b style="margin:0 2vh;">&#124;</b>
                <b class="language_type_in_row"><%= item.Language || "he" %></b>
                <b style="margin:0 2vh;">&#124;</b>
                <span class=""><%= moment(item.DateCreate).tz('Asia/Jerusalem').format("DD/MM/YYYY HH:mm") %></span>
                <b style="margin:0 2vh;">&#124;</b>
                <i class="fas fa-bars nav_options"></i>
            </div>
        </li>
        <%}%>
    </div>


    <div id="sortable_tmp" class="col connectedSortable">
    <h2 class="version_title">לא פעיל</h2>
        <% if(Versions && Versions.length){ Versions.forEach(item => { if(!Prod || item.Id != Prod.Id){ %>
        <li data-id="<%= item.Id %>" data-bucket="pirzul-tmp">
            <div class="page_item">
                <span class="page_item_position"><b>0</b></span>
                 <b style="margin:0 2vh;">&#124;</b>
                <b class="language_type_in_row"><%= item.Language || "he" %></b>
                <b style="margin:0 2vh;">&#124;</b>
                <span class=""><%= moment(item.DateCreate).tz('Asia/Jerusalem').format("DD/MM/YYYY HH:mm") %></span>
                <b style="margin:0 2vh;">&#124;</b>
                <i class="fas fa-bars nav_options"></i>
                <i class="fas fa-trash-alt remove_page" data-page="pirzul-tmp" style="margin:0 3vh;cursor:pointer;"  data-id="<%= item.Id %>"></i>
            </div>
        </li>
        <%}})}%>
    </div>

    <div class="col" style="width:10%;">
        <button class="btn_class btn_purple" id="template_page" style="float:none;" disabled>דוגמא</button><br>
        <button class="btn_class btn_blue" id="publish_page">לפרסם</button>
    </div>
</div>