<% layout('adminpanel/index') -%>


<h2 class="title_wrap">
    מומלצי החודש בפנדור
</h2>

<div>
    <button class="btn_class switch_wraps" data-wrap="active_version">המלצה חדשה</button>
    <button class="btn_class switch_wraps active" data-wrap="versions">רשימת דלתות</button>
     <select class="select_item" id="language_select_preview" data-type="1" style="width: 150px;font-size: 19px;">
        <option value="recommendedlist" selected>עברית</option>
        <option value="en_recommendedlist">English</option>
        <option value="ru_recommendedlist">Русский</option>
        <option value="ar_recommendedlist">العربية</option>
    </select>
    <button class="btn_class btn_green" id="save_new"  style="float:left;" disabled>לשמור</button>
     <select class="select_item" id="language_select" style="width: 150px;font-size: 19px;float:left;background:#eee" disabled>
        <option value selected>בחר...</option>
        <option value="he">עברית</option>
        <option value="en">English</option>
        <option value="ru">Русский</option>
        <option value="ar">العربية</option>
    </select>
</div>

<div class="wrap_three_col" style="display:none;" data-wrap="active_version">
    <div class="col" style="width:30%;">
        <input type="text" id="recommendedlist_title" placeholder="כותרת" /><br>
        <input type="text" id="recommendedlist_link" style="direction: ltr;width:50%;" placeholder="link" /><b>/pandoor.co.il/door</b>
    </div>

     <div class="col" style="width:30%;background:#dedbdb;text-align: -webkit-center;">
            <h2>תמונה</h2>
             <div class="" style="text-align: -webkit-center;float: none;">
                <img id="recommendedlist_profileimage" style="height:auto;width:30%;" data-imgid="default_recommendedlist_door.jpg" data-bucket="default" src="<%= process.env.LINKTOBUCKETS + 'default/default_recommendedlist_door.jpg' %>" />
            </div>
    
            <i class="fas fa-trash-alt remove_client_image" style="cursor:pointer;color:red;font-size: 30px;margin-top: 25%;"></i>
    </div>
    
    <div class="col" style="width:12%;">
        <button class="btn_class upload_btn" data-bucket="recommendatedlist" style="float:none;"> הוספת קובץ <i class="fas fa-cloud-upload-alt"></i></button><br>
        <button class="btn_class open_gallery_clients" data-bucket="recommendatedlist">תמונת דלת</button><br>
        
    </div>

</div>

<div class="wrap_three_col" style="display:inline-flex;" data-wrap="versions" id="vertion_wrap">
    <div id="sortable" class="col connectedSortable">
     <h2 class="version_title">פעיל</h2>
        <% if(Prods && Prods.length){ Prods.sort((a, b) => a.Position -b.Position).forEach(item => { %>
        <li data-id="<%= item.Id %>" data-bucket="recommendedlist">
            <div class="page_item">
                <span class="page_item_position"><b><%= item.Position %></b></span>
                 <b style="margin:0 2vh;">&#124;</b>
                <b class="language_type_in_row"><%= item.Language || "he" %></b>
                <b style="margin:0 2vh;">&#124;</b>
                <span class=""><%= moment(item.DateCreate).tz('Asia/Jerusalem').format("DD/MM/YYYY HH:mm") %></span>
                <b style="margin:0 2vh;">&#124;</b>
                <span class="title_news_versions"><%= item.Data.Title %> &#124; <%= item.Data.Link %></span>
                <i class="fas fa-bars nav_options"></i>
            </div>
        </li>
        <%})}%>
    </div>


    <div id="sortable_tmp" class="col connectedSortable version">
    <h2 class="version_title">לא פעיל</h2>
        <% if(Versions && Versions.length){ Versions.forEach(item => { if(!Prods.find(prod => prod.Id == item.Id)){  %>
        <li data-id="<%= item.Id %>" data-bucket="recommendedlist-tmp">
            <div class="page_item">
                <span class="page_item_position"><b>0</b></span>
                  <b style="margin:0 2vh;">&#124;</b>
                <b class="language_type_in_row"><%= item.Language || "he" %></b>
                <b style="margin:0 2vh;">&#124;</b>
                <span class=""><%= moment(item.DateCreate).tz('Asia/Jerusalem').format("DD/MM/YYYY HH:mm") %></span>
                <b style="margin:0 2vh;">&#124;</b>
                <span class="title_news_versions"><%= item.Data.Title %> &#124; <%= item.Data.Link %></span>
                <i class="fas fa-bars nav_options"></i>
                <i class="fas fa-trash-alt remove_page" data-page="recommendedlist-tmp" style="margin:0 3vh;cursor:pointer;"
                    data-id="<%= item.Id %>"></i>
            </div>
        </li>
        <%}})}%>
    </div>

    <div class="col">
        <button class="btn_class btn_purple" id="template_page" style="float:none;" disabled>דוגמה</button><br>
        <button class="btn_class btn_blue" id="publish_page">לפרסם</button><br>
        <button class="btn_class btn_liteblue" id="deactivate_block">בלוק לא פעיל</button>
    </div>

</div>