<% layout('layoutindex/mainpage') -%>

<div class="contentMainImgContainer">
    <img class="contentMainImg" alt="תמונת רקע" src="<%= process.env.LINKTOBUCKETS + Page.Header.LinkToBucket + Page.Header.ImageId %>" />
    <h1 tabindex="0"><%- Page.Header.Title %></h1>
    <div class="contentTxt" tabindex="0"><%- Page.Header.SubTitleHtml %></div>
    <span class="downBtn" data-scrollto="wrap_container"><i class="far fa-caret-square-down"></i></span>
</div>

<section id="wrap_container" class="wrap_container">
    <div class="container">
    <h2 class="section_title" tabindex="0">מאמרים</h2>
    <% for(let i=0;i<Blogs.length;i++){%>
            <% if(i == 0 || i == 2 || i == 4){ %>
                <div class="blog_wrap">
            <%}%>
    
                        <div class="blog_box">
                        <a href="/blog/<%= Blogs[i].Position %>">
                            <img tabindex="0" alt="<%= Blogs[i].Data.Preview.ImageId %>" src="<%= process.env.LINKTOBUCKETS + Blogs[i].Data.Preview.LinkToBucket + Blogs[i].Data.Preview.ImageId %>" />
                            <div class="blog_description">
                                <div class="blog_date" tabindex="0"><%= moment(Blogs[i].Data.Preview.Date, 'DD/MM/YYYY').format("MM.YYYY") %></div>
                                <div class="blog_title">
                                    <span tabindex="0"><%= Blogs[i].Data.Preview.SubTitleHtml %></span>
                                </div>
                            </div>
                        </a>
                        </div>
       <% if(i == 1 || i == 3 || i == 5){ %>
            </div>
            </br></br></br>
      <%}%>
    <%}%>

    
   <!-- <div tabindex="0" class="num_pages_wrap">
        <div tabindex="0" class="num_page_btn">1</div>
        <div tabindex="0" class="num_page_btn">2</div>
        <div tabindex="0" class="num_page_btn">3</div>
        <div tabindex="0" class="num_page_btn">4</div>
        <div tabindex="0" class="num_page_btn">...</div>
        <div tabindex="0" class="num_page_btn">&gt;</div>
        -->
    </div>
    </div>
</section>